* {
  margin: 0;
  padding: 0;
}
body {
  font-family: inter;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(218, 101, 101); */
  align-items: center;
}
.nav-list-item ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 34px 0;
}
.nav-list-item ul li a {
  text-decoration: none;
}
.nav-list-item ul li .list-text {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}
.nav-section .nav-btn {
  padding: 12px 16px;
  border-radius: 4px;
  background-color: rgba(70, 145, 101, 1);
  border: none;
  color: white;
  cursor: pointer;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
}
.nav-section .nav-btn:hover {
  color: rgba(70, 145, 101, 1);
  background-color: white;
  border: 1px solid rgba(70, 145, 101, 1);
}
/* Banner Section */
.banner-section {
  background-image: url(./assets/hero-bg.png);
  text-align: center;
  padding: 115px 120px;
}
/* .banner-section-parent {
  max-width: 1360px;
} */
.banner-section .early-access-btn {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(70, 145, 101, 1);
  border: none;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 1);
  padding-left: 6px;
  cursor: pointer;
}
.early-access-btn i {
  margin-right: 6px;
}
.banner-section .banner-section-text h2 {
  margin-top: 16px;
  color: #ebecee;
  font-size: 72px;
  font-weight: 700;
}
.banner-section-text .text-green-color {
  color: rgba(48, 184, 104, 1);
}
.banner-section .banner-section-text p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
}
.banner-section .banner-section-text p {
  line-height: 1.8;
}
.banner-section .banner-btn .btn1 {
  padding: 12px 16px;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
}
.banner-section .banner-btn .btn1:hover {
  color: rgba(70, 145, 101, 1);
  background: rgba(255, 255, 255, 1);
}
.banner-section .banner-btn .btn2 {
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: #ffffff;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.banner-section .banner-btn .btn2:hover {
  color: rgba(70, 145, 101, 1);
  background: rgba(255, 255, 255, 1);
}
.banner-btn .btn2 i {
  margin-right: 6px;
}
.banner-section .banner-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
